@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,300;0,400;0,500;0,700;1,400;1,500&display=swap");

body {
  font-family: "Chakra Petch", "Noto Sans", sans-serif;
  margin: 0;
  background: #72c5e9;
}

.App {
  height: 100vh;
  .weather {
    margin: 1rem auto 0 auto;
    padding: 1rem;
    color: #000e3d9d;
  }
}

.border {
  border: 2px solid rgba(255, 255, 255, 0.05);
}
.border-light {
  border: 1px solid rgba(255, 255, 255, 0.05);
}
